ShowCase2Mo410Test/Temp/Objects/Config1/X20CP1586/.mappView/data/wwwRoot/BRVisu/widgets/brease/OnlineChartHDA/meta/OnlineChartHDA_EventsActions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.br-automation.com/iat2014/eventbinding/v2" xmlns:s1="http://www.br-automation.com/iat2014/eventbinding/v2" xmlns:types="http://www.br-automation.com/iat2015/widgetTypes/v2" xmlns:var="http://www.br-automation.com/iat2015/varTypes/v2" elementFormDefault="qualified">
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action">
		<xs:complexContent>
			<xs:extension base="s1:Target.BaseWidget">
				<xs:sequence>
					<xs:element name="Method" type="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.widgetMethod" abstract="true">
		<xs:complexContent>
			<xs:extension base="s1:widgetMethod"></xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.ReadAction">
		<xs:complexContent>
			<xs:extension base="s1:ReadTarget.BaseWidget">
				<xs:sequence>
					<xs:element name="Method" type="s1:widgets.brease.OnlineChartHDA.ReadAction.widgetMethod"></xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.ReadAction.widgetMethod" abstract="true">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod"></xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.Focus">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.Freeze">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.GetStatus">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.ReadAction.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.ScrollDown">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.ScrollLeft">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.ScrollRight">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.ScrollUp">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.ScrollXAxis">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
				<xs:attribute name="xAxisId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="offset" type="var:Number" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.SetCursorStyle">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
				<xs:attribute name="cursorId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:StyleReference" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.SetEnable">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.SetGraphStyle">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
				<xs:attribute name="graphId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:StyleReference" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.SetGraphVisible">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
				<xs:attribute name="graphId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.SetStyle">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
				<xs:attribute name="value" type="var:StyleReference" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.SetVisible">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.SetXAxisStyle">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
				<xs:attribute name="xAxisId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:StyleReference" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.SetXAxisTime">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
				<xs:attribute name="xAxisId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="start" type="var:DateTime" use="required"></xs:attribute>
				<xs:attribute name="end" type="var:DateTime" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.SetXAxisTimeSpan">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
				<xs:attribute name="xAxisId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="timeSpan" type="var:UNumber" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.SetXAxisVisible">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
				<xs:attribute name="xAxisId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.SetYAxisStyle">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
				<xs:attribute name="yAxisId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:StyleReference" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.SetYAxisVisible">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
				<xs:attribute name="yAxisId" type="var:PropertyCollectionReference" use="required"></xs:attribute>
				<xs:attribute name="value" type="var:Boolean" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.SetZoomType">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
				<xs:attribute name="zoomType" type="var:brease.enum.ChartZoomType" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.ShowTooltip">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.Unfreeze">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.ZoomIn">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.ZoomOut">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Action.ZoomReset">
		<xs:complexContent>
			<xs:extension base="s1:widgets.brease.OnlineChartHDA.Action.widgetMethod">
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="widgets.brease.OnlineChartHDA.Event">
		<xs:complexContent>
			<xs:extension base="s1:Source.BaseWidget">
				<xs:attribute name="event" type="s1:widgets.brease.OnlineChartHDA.Events" use="required"></xs:attribute>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:simpleType name="widgets.brease.OnlineChartHDA.Events">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Click"></xs:enumeration>
			<xs:enumeration value="DisabledClick"></xs:enumeration>
			<xs:enumeration value="EnableChanged"></xs:enumeration>
			<xs:enumeration value="FocusIn"></xs:enumeration>
			<xs:enumeration value="FocusOut"></xs:enumeration>
			<xs:enumeration value="OnDragEnter"></xs:enumeration>
			<xs:enumeration value="OnDragLeave"></xs:enumeration>
			<xs:enumeration value="OnDrop"></xs:enumeration>
			<xs:enumeration value="VisibleChanged"></xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>